@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');



.navbar-logo {
  position: right;
  margin-right: 2px;
}

body {
  background-color: red;
}



#map {
  height: 100%;
  width: 80%;
  margin-left: 50px;
  margin-top: 15px;
  margin-bottom: 500px;
  border: 1px solid #000;
}
